apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: edgeflow
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: {{ image }}
          imagePullPolicy: Always
          env:
            - name: REDIS_HOST
              value: "redis-service"
            - name: GATEWAY_HOST
              value: "gateway-tcp-service"
            - name: OMP_NUM_THREADS
              value: "1"