apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: edgeflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      nodeSelector:
        role: infra-core
      volumes:
        - name: udev
          hostPath: {path: /run/udev}
        - name: vchiq
          hostPath: {path: /dev/vchiq}
        - name: vcsm
          hostPath: {path: /dev/vcsm}
        - name: dma-heap
          hostPath: {path: /dev/dma_heap}
      containers:
        - name: producer
          image: {{ image }}
          imagePullPolicy: Always
          env:
            - name: REDIS_HOST
              value: "redis-service"
          securityContext:
            privileged: true
          volumeMounts:
            - name: udev
              mountPath: /run/udev
              readOnly: true
            - name: vchiq
              mountPath: /dev/vchiq
            - name: vcsm
              mountPath: /dev/vcsm
            - name: dma-heap
              mountPath: /dev/dma_heap